@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

.centerauto{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

.canvas{
	background-color:#FFF;
	-webkit-border-radius:5px;
  border-radius:5px;
	border:1px solid #050505;
}

.container{
  width:330px;
  position:fixed;
  right:60px;
}

.container .contact{
  text-decoration:none;
  position:absolute;
  top:-10px;
  right:120px;
  border:0 none;
  border-radius:0px;
}

.container .btn{
  margin:5px 5px 10px 0;
  padding:5px 20px;
  color:#fff;
  border:0 solid #fff;
  border-radius:15px 15px 5px 5px;
  box-shadow:2px 3px 3px #999;
  background-image:url('image/mail/button-bg.png');
  transition:all 300ms;
  -webkit-transition:all 300ms;
  -moz-transition:all 300ms;
}

.container .btn:hover{
  background-image:url('image/mail/button-hover-bg.png');
  cursor: pointer;
  box-shadow:-2px -3px 3px #999;
  border-radius:5px 5px 15px 15px;
}

.container .formdesign{
  position:relative;
  top:10px;
  width:320px;
  margin:0 auto;
  border:1px solid #fff;
  border-radius:10px;
  background-color:#f4f4f4;
  box-shadow:0 0 20px #666;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
  padding:0 15px 15px;
}

.container .formdesign h2{
  margin:15px 0 10px;
  color:#ccc;
  font-size:22px;
  text-shadow:0 1px 0 #fff;
  letter-spacing:2px;
  font-weight:bold;
}

.container .formdesign .lbl{
  font-size:11px;
  color:#666;
  margin-left:5px;
  text-shadow:0 1px 0 #fff;
}

.container .formdesign .name{
  border:1px solid #fff;
  border-left:1px solid #b2b2b2;
  border-top:1px solid #b2b2b2;
  border-radius:3px;
  background-color:#e7e7e7;
  padding:8px 8px 8px 30px;
  margin:5px 0 10px;
  width:280px;
  -webkit-transition:all 0.8s;
}

.container .formdesign .name:hover{
  background-color:#fff;
}

.nameicon{
  background-image:url('image/mail/name.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.nameicon:focus{
  background-image:url('image/mail/name-active.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.mailicon{
  background-image:url('image/mail/email.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.mailicon:focus{
  background-image:url('image/mail/email-active.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.texticon{
  background-image:url('image/mail/message.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.texticon:focus{
  background-image:url('image/mail/message-active.png');
  background-repeat:no-repeat;
  background-position:-20px -7px;
}

.container .formdesign .close{
	position:absolute;
	right:-25px;
	top:330px;
	background-image:url('image/mail/close.png');
	width:50px;
	height:50px;
	display:block;
}

.container .formdesign .close:hover{
	background-image:url('image/mail/close-2.png');
}


/*Switcher BackGroundColor*/

.switcher {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 30px;
  padding: 10px 0px;
  background: #fff;
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
  -moz-border-radius: 5px 0px 0px 0px;
}
.switcher menu {
  width: 150px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-left: 1px;
}
.switcher li {
  float: left;
  height: 24px;
  width: 24px;
  margin-left: 5px;
  cursor: pointer;
  display: inline;
}
.switcher li:hover {
  border: 1px solid #888;
}
.brdbbb {
  border: 1px solid #bbb;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.brd333 {
  border: 1px solid #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.switcher li img {
  width: 24px;
  height: 24px;
  position: absolute;
}
.switcher li:first-child {
  margin-left: 0px;
}

.squares {
  background: url("image/background/squares.jpg");
}
.bgnoise {
  background: url("image/background/bgnoise.jpg");
}
.white_carbon {
  background: url("image/background/white_carbon.png");
}
.lghtmesh {
  background: url("image/background/lghtmesh.jpg");
}
.white_carbonfiber {
  background: url("image/background/white_carbonfiber.png");
}
.timeout {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}